<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<header>
<!--    Верхняя панель-->
    <div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="navbar-brand col-sm-2 col-md-10 px-2 mt-0">
            <b th:text="${userAdmin.email}">Почта админа</b>
            <span>with roles: </span>
            <span th:each="role : ${userAdmin.getRoles()}"
                  th:utext="${role.toString() + ' '}">
            </span>
        </div>
<!--Logout-->
        <ul class="navbar-nav px-0">
            <form th:action="@{/logout}" method="post">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end fixed-top">
                    <button class="text-muted btn btn-dark" type="submit">Выход из текущей сессии</button>
                </div>
            </form>
        </ul>
    </nav>
    </div>
</header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Панель администратора</h1>
</div>
<tr>
    <div align="center">
        <h2>Список пользователей</h2>
        <table border="1" cellpadding="5">
            <tr>
                <th width="50">Id</th>
                <th width="100">Name</th>
                <th width="100">LastName</th>
                <th width="50">Age</th>
                <th width="150">Email</th>
                <th width="150">Password</th>
                <th width="50">EDIT</th>
                <th width="50">DELETE</th>
                <th width="100">Roles</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:utext="${user.id}"></td>
                <td th:utext="${user.userName}"></td>
                <td th:utext="${user.lastname}"></td>
                <td th:utext="${user.age}"></td>
                <td th:utext="${user.email}"></td>
                <td th:utext="${user.password}"></td>
                <td><div th:each="role : ${user.getRoles()}">
                    <div th:utext="${role.toString()}"></div>
                </div></td>
                <td><form th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                    <input type="submit" value="Edit user">
                    </form>
                </td>
                <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete user">
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <form action="admin/add" target="_blank">
            <button>Создать пользователя</button>
        </form>
        </br>
    </div>
    <a type="submit" href="/logout">Выход из текущей сессии</a>
</body>
</html>

