<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<tr>
    <div align="center">
        <h2>Пользователь</h2>
        <table border="1" cellpadding="5">
            <tr>
                <th width="50">Id</th>
                <th width="100">Name</th>
                <th width="100">LastName</th>
                <th width="50">Age</th>
                <th width="100">Email</th>
                <th width="150">Password</th>
                <th width="100">Roles</th>

            </tr>
            <tr>
                <td th:utext="${user.id}"></td>
                <td th:utext="${user.userName}"></td>
                <td th:utext="${user.lastname}"></td>
                <td th:utext="${user.age}"></td>
                <td th:utext="${user.email}"></td>
                <td th:utext="${user.password}"></td>
                <td><div th:each="role : ${user.getRoles()}">
                    <div th:utext="${role.getName()}"> </div>
                </div></td>
             </tr>
        </table>
    </div>

    <a type="submit" href="/logout">Выход из текущей сессии</a>
</body>
</html>