<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Авторизация</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  <script type="text/javascript" src="/static/code.js"></script>
</head>
<body>
<div class="container">
  <form class="form-signin" method="POST" action="/process_login">
    <h2 class="form-signin-heading">Пожалуйста, введите почту и пароль</h2>
    <p>
      <label for="username" class="sr-only">Email</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Email" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход на портал</button>
    <div th:if="${param.error}" style="color: red">
      Неправильная почта и пароль
    </div>
    <!-- Button trigger modal registration-->
    <button type="button" class="btn btn-lg btn-primary btn-block"
            th:attr="data-target=${'#registation'}" data-row="${userAdd}"
            data-toggle="modal" data-target="#exampleModal">
      Зарегистрироваться на сайте
    </button>
  </form>
</div>
<!-- Modal Registration-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     th:id="${'registation'}" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Регистрация нового пользователя</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center align-items-center text-center">
        <form th:method="POST" th:action="@{/login/registration}" th:object="${userAdd}">
          <div class="form-group">
            <label for="userName1"><b>Введите имя</b></label>
            <input type="text" class="form-control" th:field="*{userName}" id="userName1"/>
            <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors = "*{userName}">Name error</div>
          </div>

          <div class="form-group">
            <label for="lastname1"><b>Введите фамилию</b></label>
            <input type="text" class="form-control" th:field="*{lastname}" id="lastname1"/>
            <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors = "*{lastname}">LastName error</div>
          </div>

          <div class="form-group">
            <label for="password1"><b>Введите пароль</b></label>
            <input type="text" class="form-control" th:field="*{password}" id="password1"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors = "*{password}">Password error</div>
          </div>

          <div class="form-group">
            <label for="age1"><b>Введите возраст</b></label>
            <input type="number" class="form-control" th:field="*{age}" id="age1"/>
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors = "*{age}">Age error</div>
          </div>

          <div class="form-group">
            <label for="email1"><b>Введите адрес электронной почты</b></label>
            <input type="text" class="form-control" th:field="*{email}" id="email1"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">Email error</div>
          </div>

          <div class="form-group">
            <label for="role1">Role</label>
            <label for="role1"></label>
            <select th:field="*{roles}" size="1" multiple class="form-control" id="role1">
              <option selected="selected" value="1">USER</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Завершить регистрацию</button>
      </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>